

.gradle/
build/
*/build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/
local.properties


.kotlin/
**/.kotlin/


**/build/generated/
**/build/compose/


*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
Pods/
build/
DerivedData/


.DS_Store
Thumbs.db
desktop.ini


*.log
*.hprof


node_modules/